body {
	font-family: Lucida Sans Unicode;
	color: #28324e;
  padding-left: 40px;
}
h1 {
	color: #475577;
}
a:link, a:visited {
	color: #3D8EB9;
}
a:hover {
	color: #f37934;
}
p.info {
	color: #205081;
	font-size: 12px;
	padding-left: 5px;
}
td.left {
	width: 240px;
}
td.right {
	width: 500px;
}
#button {
	float: left;
	padding-top: 20px;
	width: 220px;
}
#error {
	color: #B8312F;
	padding-top: 25px;
	float: left;
	height: 20px;
}
#status {
	color: #41A85F;
	width: 200px;
	padding-top: 25px;
	float: left;
}
#save {
	background-color: #475577;
	color: white;
	border: 0px;
	font-size: 20px;
	width: 200px;
}
#save:hover {
	background-color: #f37934;
}
